<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My feed
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" role="feed">

  <div id="home-container">
      <ion-list>
        @for (item of items; track item; let index = $index) {
          <ion-item role="article">
            <ion-avatar slot="start">
              <img [src]="'https://picsum.photos/80/80?random=' + index" alt="avatar" />
            </ion-avatar>
            <ion-label>
              <h2>Test</h2> <!-- Add a title field -->
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, b</p> <!-- Add a content field -->
            </ion-label>
          </ion-item>
        }
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
  </div>
</ion-content>
