<!-- user-registration.component.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>User Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll="true">
  <form [formGroup]="registrationForm" (submit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input id="username" formControlName="username" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input id="email" formControlName="email" type="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input id="password" formControlName="password" type="password" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input id="passwordConfirmation" formControlName="passwordConfirmation" type="password" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input id="phoneNumber" formControlName="phoneNumber" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Birth Date</ion-label>
      <ion-datetime id="birthDate" formControlName="birthDate" required></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select formControlName="gender" required>
        <ion-select-option *ngFor="let gender of genderNames | keyvalue" [value]="gender.value">{{ gender.value }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" type="submit">Register</ion-button>
  </form>
</ion-content>
